<footer>
  <div class="footer-c">
    <div class="container py-3">
      <div class="row gy-4">
        <div class="col-md-4 d-flex align-items-center img-col">
          <div class="img">
            <a routerLink="/home">
              <img src="../../assets/sedra_logo.png" class=" rounded-2" style="width: 200px;" alt="">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <h3>Quick Links</h3>
          </div>
          <ul class="links">
            <li><a routerLink="/home">Home  <i class="fa-solid fa-arrow-right-long"></i></a></li>
            <li><a routerLink="/about">About Us  <i class="fa-solid fa-arrow-right-long"></i></a></li>
            <li><a routerLink="/contactus">Contact Us  <i class="fa-solid fa-arrow-right-long"></i></a></li>

          </ul>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <h3>Follow Us</h3>
          </div>
          <ul class="d-flex px-0 justify-content-center socialIcons my-3">
            <li>
              <a href="https://web.facebook.com/sedraegypt/?locale=ar_AR&_rdc=1&_rdr" target="_blank"><i class="fa-brands fa-facebook-f ms-0"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/sedra_eg/?hl=ar" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/sedra-eg/mycompany/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="powerdBy">
    <div class="container ">
      <div class="row gy-3 py-3">
        <div class="col-md-4">
          <p>FrontEnd & UI/UX</p>
          <a href="https://www.linkedin.com/in/ahmed-hassan-3543931b3/" target="_blank"> Ahmed Hassan <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="col-md-4">
          <p>BackEnd</p>
          <a href="https://www.linkedin.com/in/samy-alaa-b03831220/" target="_blank">Samy Alaa <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="col-md-4">
          <p class=" text-white fw-light fs-6">Copyright © Sedra 2023 All Right Reserved</p>
        </div>

      </div>


    </div>
  </div>
</footer>

