.card{
  border: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 2px;
  transition: 0.3s;
  margin-bottom: 15px;
}
.card:hover {
  margin-top: 0px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.18), 0 5px 5px rgba(0,0,0,0.15);
}
.card-body h3{
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 5px;
  color: #000;
}
.card-body p{
  margin-bottom: 3px;

}
.card-footer{
  background-color: white;
  display: flex;
  align-items: center;
}
.card-footer p{
  transition: 0.3s;
  color: #157432;

}
.card:hover .card-footer p{
  margin-left: 5px;
}
.img-card{
  width: 100%;
}
a{
  text-decoration: none;
}
.backGroundImg{
  background-size: cover;
  height: 50vh;
  background-size: cover;
  background-position: top center;
  width: 100%;
  position: relative;

}
.backGroundImg div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.backGroundImg h2{
  font-size: 72px;
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  color: white;
  position: absolute;
  z-index: 9;
}
.backGroundImg::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #00000090;
}
.pagesLinks{
  position: sticky;
  top: 5%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .backGroundImg{
    height: 40vh;
  }
  .card-body h3{
    font-weight: 600;
    font-size: 20px;

  }
  .card-body p{
    margin-bottom: 0px;

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
