


<div class="category">
  <div class="backGroundImg" style="background-image: url(../../assets/4.jpg);">
    <div class="container">

      <h2>Tortes</h2>
    </div>
  </div>
  <div class="container mt-2">
    <div class="row g-3">
      <div class="col-12 mb-3">
        <p-breadcrumb class="max-w-full " styleClass="border-0   " [model]="items" [home]="home"></p-breadcrumb>
      </div>
      <div class="col-md-3 col-6">
        <a routerLink="/prodactDetails">
          <div Class="card">
            <div class="">
              <img alt="" class="img-card" src="../../assets/p1.jpg" />
            </div>
            <div class="card-body">
              <h3>Kunafa Marshmallow</h3>
              <p class="text-muted">499 EG</p>
            </div>
            <div class="card-footer">
              <p class="d-block mt-1">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6">
        <a routerLink="/prodactDetails">
          <div Class="card">
            <div class="">
              <img alt="" class="img-card" src="../../assets/p2.jpg" />
            </div>
            <div class="card-body">
              <h3>Kunafa Marshmallow</h3>
              <p class="text-muted">499 EG</p>
            </div>
            <div class="card-footer">
              <p class="d-block mt-1">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6">
        <a routerLink="/prodactDetails">
          <div Class="card">
            <div class="">
              <img alt="" class="img-card" src="../../assets/p3.jpg" />
            </div>
            <div class="card-body">
              <h3>Kunafa Marshmallow</h3>
              <p class="text-muted">499 EG</p>
            </div>
            <div class="card-footer">
              <p class="d-block mt-1">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6">
        <a routerLink="/prodactDetails">
          <div Class="card">
            <div class="">
              <img alt="" class="img-card" src="../../assets/p4.jpg" />
            </div>
            <div class="card-body">
              <h3>Kunafa Marshmallow</h3>
              <p class="text-muted">499 EG</p>
            </div>
            <div class="card-footer">
              <p class="d-block mt-1">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6">
        <a routerLink="/prodactDetails">
          <div Class="card">
            <div class="">
              <img alt="" class="img-card" src="../../assets/p5.jpg" />
            </div>
            <div class="card-body">
              <h3>Kunafa Marshmallow</h3>
              <p class="text-muted">499 EG</p>
            </div>
            <div class="card-footer">
              <p class="d-block mt-1">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6">
        <a routerLink="/prodactDetails">
          <div Class="card">
            <div class="">
              <img alt="" class="img-card" src="../../assets/p6.jpg" />
            </div>
            <div class="card-body">
              <h3>Kunafa Marshmallow</h3>
              <p class="text-muted">499 EG</p>
            </div>
            <div class="card-footer">
              <p class="d-block mt-1">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6">
        <a routerLink="/prodactDetails">
          <div Class="card">
            <div class="">
              <img alt="" class="img-card" src="../../assets/p7.jpg" />
            </div>
            <div class="card-body">
              <h3>Kunafa Marshmallow</h3>
              <p class="text-muted">499 EG</p>
            </div>
            <div class="card-footer">
              <p class="d-block mt-1">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-6">
        <a routerLink="/prodactDetails">
          <div Class="card">
            <div class="">
              <img alt="" class="img-card" src="../../assets/p8.jpg" />
            </div>
            <div class="card-body">
              <h3>Kunafa Marshmallow</h3>
              <p class="text-muted">499 EG</p>
            </div>
            <div class="card-footer">
              <p class="d-block mt-1">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
