// #b9843c
.main-bg{
  background: #157432;
  color: white;
}
.mainText{
  font-family: 'Bodoni Moda', serif;
  font-size: 34px;
  font-weight: 600;
  color: #fff;
}
.about{
  background-color: #111;
}
.fadeBoxToLeft{
  opacity: 0;
}
.fadeBoxToLeft2{
  opacity: 1;
}

