// #b9843c
.main-bg{
  background: #157432;
  color: white;
}
.main-text{
  font-family: 'Bodoni Moda', serif;
}
.title{
  font-family: 'Bodoni Moda', serif;
  font-size: 34px;
  font-weight: 600;
  color: #fff;
}
.backGroundImg{
  background-size: cover;
  height: 60vh;
  background-size: cover;
  background-position: top center;
  width: 100%;
  position: relative;

}
.backGroundImg div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.backGroundImg h2{
  font-size: 72px;
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  color: white;
  position: absolute;
  z-index: 9;
}
.backGroundImg::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #00000090;
}

.branches{

  background-color: #111;
  min-height: 100vh;
}
.imgSliderBranch{
  background-position: center center;
  background-size: cover;
  height: 350px;
}
.layerBranch{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000080;
  z-index: 2;
  display: flex;
  align-items: end;
  justify-content: center;
  transition: 0.6s;
}
// .fadeBoxToLeft{
//   opacity: 0;
// }
// .fadeBoxToLeft2{
//   opacity: 1;
// }
.card{
  border-radius: 8px;
  overflow: hidden;
  border: none;
  border-bottom: #b9843c solid 5px;
}
.item1-fadeOut{
  // transform: translateY(15%);
  margin-top: 100px;
  opacity: 0;
  transition: 1.5s;
}
.item2-fadeOut{
  // transform: translateY(65%);
  margin-top: 150px;
  opacity: 0;
  transition: 1.5s;
}
.item3-fadeOut{
  // transform: translateY(115%);
  margin-top: 200px;
  opacity: 0;
  transition: 1.5s;
}
.img-card{
  transition: 0.5s;
}


.item1-fadeIn{
  margin-top: 50px;
  opacity: 1;

}
.item2-fadeIn{
  margin-top: 100px;
  opacity: 1;
  transition-delay: 0.5s;
}
.item3-fadeIn{
  margin-top: 150px;
  opacity: 1;
  transition-delay: 1s;
}



.serves{
  background: #fff;

}
.card-stats{
  background: #157432;
  color: white;
}













/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .item1-fadeIn{
    margin-top: 0px;
    opacity: 1;
  }
  .item2-fadeIn{
    margin-top: 0px;
    opacity: 1;
    transition-delay: 0.5s;

  }
  .item3-fadeIn{
    margin-top: 0px;
    opacity: 1;
    transition-delay: 1s;

  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

