

<app-navbar></app-navbar>

<div class="about">
  <div class="backGroundImg" style="background-image: url(assets/3.jpg);">
    <div class="text-center py-5 ">
      <h2 class="title">About Us</h2>
    </div>
  </div>


    <div class="branches">
      <div class="container py-5">
        <h2 class="main-text fs-3 text-white">Where Owr Branches ?</h2>
        <div class="row gy-4">
          <div class="col-md-4">
            <div class="card item1-fadeOut" id="item1" >
              <div class="img-card ">
                <div class="imgSliderBranch" style="background-image: url(assets/golf.jpeg);"></div>
              </div>
              <div class="layerBranch">
                <p id="branchName" class="main-text fs-3 text-white ">Sedra - Ard El Golf</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card item2-fadeOut" id="item2">
              <div class="img-card ">
                <div class="imgSliderBranch" style="background-image: url(assets/tagmo3-2.jpg);"></div>
              </div>
              <div class="layerBranch">
                <p id="branchName" class="main-text fs-3 text-white">Sedra - El Tagmoa</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card item3-fadeOut" id="item3">
              <div class="img-card ">
                <div class="imgSliderBranch" style="background-image: url(assets/nor2.jpg);"></div>
              </div>
              <div class="layerBranch">
                <p id="branchName" class="main-text fs-3 text-white">Sedra - North Costa</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>





</div>

<app-footer></app-footer>

