<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container position-relative">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/Sedra-Logo.ico" alt="SedraLogo" width="50" >
    </a>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars shadow-lg  " style="color: #ffffff;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link navNotDrop" routerLink="/home">Home</a>
        </li>
        <li class="nav-item position-relative nav-dropdown-category">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-category">
            <ul *ngFor="let Category of Categories">
              <li><a class="item" [routerLink]="['/category', Category.id, Category.name]">{{Category.name}}</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item position-relative nav-dropdown-Branch">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Branches
          </a>
          <div class="dropdown-Branch">
            <ul *ngFor="let Branch of Branches">
              <li><a class="item" [routerLink]="['/branch', Branch.id, Branch.name]">{{Branch.name}}</a></li>
            </ul>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link navNotDrop" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navNotDrop" routerLink="/contactus">Contact Us</a>
        </li>
      </ul>




    </div>
    <form class="search">
      <input type="checkbox" id="toggleSearch" class="search__toggle" hidden />
      <div class="search__field shadow">
        <label for="toggleSearch" class="search__label">
          <!-- <span *ngIf="isClose" class="search__close"></span> -->
        </label>
        <input type="text" pTooltip="Click on the magnifying to search" tooltipPosition="bottom" class="search__input" placeholder="What are you looking for?" />
        <label for="toggleSearch" class="search__label">
          <div class="search__button">
            <div class="search__icon search__button--toggle"></div>
          </div>
          <button class="search__button search__button--submit">
            <div class="search__icon"></div>
          </button>
        </label>
      </div>
    </form>
  </div>
</nav>

<p-scrollTop styleClass=" rounded-2 "></p-scrollTop>
