<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container position-relative">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../assets/Sedra-Logo.ico" alt="SedraLogo" width="50" >
    </a>

    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars shadow-lg  " style="color: #ffffff;"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link navNotDrop" routerLink="/home">Home</a>
        </li>
        <li class="nav-item position-relative nav-dropdown-category">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-category">
            <ul *ngFor="let Category of Categories">
              <li><a class="item" [routerLink]="['/category', Category.id, Category.name]">{{Category.name}}</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item position-relative nav-dropdown-Branch">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Branches
          </a>
          <div class="dropdown-Branch">
            <ul *ngFor="let Branch of Branches">
              <li><a class="item" [routerLink]="['/branch', Branch.id, Branch.name]">{{Branch.name}}</a></li>
            </ul>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link navNotDrop" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navNotDrop" routerLink="/about">Contact Us</a>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
<button class="btn-up btn shadow" id="btn-up">
  <i class="fa-solid fa-chevron-up fa-2x m-0"></i>
</button>
