:root{
  --main-color : #157432;
}
body{
  overflow: hidden;
}
.main{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.layer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000020;
  z-index: 2;
}
.main-box{
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate( -50% ,-50% );
  width: 50%;
  height: 50vh;
}
// .main-box h1{
//   color: white;
//   font-family: 'Bodoni Moda', serif;
//   font-weight: 500;
//   font-size: 72px;
// }
// .main-box p{
//   font-family: 'Bodoni Moda', serif;
//   font-size: 24px;
//   color: white;
// }
.imgSlider{
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
