
<app-loading *ngIf="loading"></app-loading>

<app-navbar *ngIf="!loading"></app-navbar>


<div class="main" id="main" *ngIf="!loading">
  <div class="position-relative">
    <owl-carousel-o [options]="customOptions" >
      <ng-template carouselSlide *ngFor="let image of images">
        <div class="backGroundImg" [style]="'background-image: url('+ image.image +');'"></div>

      </ng-template>

    </owl-carousel-o>


    <div class="layer">
      <div class="container py-5">


        <div class="row">

          <div class="col-lg-6 d-lg-none">
            <div class="box-info  mt-5">
              <h2>{{name}}</h2>
              <ul>
                <li><i class="fa-solid fa-phone"></i> {{phone}}</li>
                <li><i class="fa-solid fa-envelope"></i> {{email}}</li>
                <li><i class="fa-solid fa-location-dot"></i> {{address}}</li>
              </ul>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="mapouter shadow-lg mt-5" *ngIf="address == 'Sedra - Ard El Golf Branch'">
              <div class="gmap_canvas">
                <iframe
                  width="100%"
                  height="100%"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q= Sedra - Ard El Golf Branch &t=&z=17&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe>
                <a href="https://2yu.co"></a>
                <br />
                <a href="https://embedgooglemap.2yu.co/"></a>
              </div>
            </div>
            <div class="mapouter shadow-lg mt-5" *ngIf="address == 'Sedra - North Costa'">
              <div class="gmap_canvas">
                <iframe
                  width="100%"
                  height="100%"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q= sedra marassi north coast &t=&z=17&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe>
                <a href="https://2yu.co"></a>
                <br />
                <a href="https://embedgooglemap.2yu.co/"></a>
              </div>
            </div>
            <div class="mapouter shadow-lg mt-5" *ngIf="address == 'Sedra - El Tagmoa'">
              <div class="gmap_canvas">
                <iframe
                  width="100%"
                  height="100%"
                  id="gmap_canvas"
                  src="https://maps.google.com/maps?q= Sedra - El Tagmoa &t=&z=17&ie=UTF8&iwloc=&output=embed"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe>
                <a href="https://2yu.co"></a>
                <br />
                <a href="https://embedgooglemap.2yu.co/"></a>
              </div>
            </div>
          </div>


          <div class="col-lg-6 d-none d-lg-block">
            <div class="box-info  mt-5">
              <h2>{{name}}</h2>
              <ul>
                <li><i class="fa-solid fa-phone"></i> {{phone}}</li>
                <li><i class="fa-solid fa-envelope"></i> {{email}}</li>
                <li><i class="fa-solid fa-location-dot"></i> {{address}}</li>
              </ul>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

</div>

<app-footer *ngIf="!loading"></app-footer>
