<app-navbar></app-navbar>

<div class="contactUs">
  <div class="backGroundImg" style="background-image: url(../../assets/2.jpg);">
    <div class="container">
      <h2>Contact Us</h2>
    </div>
  </div>
  <div class="container text-center py-5">
    <div class="row my-5">
      <h3 class="">Get in touch with us</h3>
      <div class="col-md-4">
        <div class="text-center contactBox phoneInfo">
          <i class="fa-solid fa-mobile-screen-button"></i>
          <h5>Phone</h5>
          <p><i class="fa-solid fa-phone"></i> 01065527801</p>
          <p><i class="fa-solid fa-phone"></i> 01065527801</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center contactBox addressInfo">
          <i class="fa-solid fa-map-pin"></i>
          <h5>Address</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam alias accusamus.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-center contactBox emailInfo">
          <i class="fa-regular fa-envelope"></i>
          <h5>Email</h5>
          <p>sd.golf@sedragroup.net</p>
          <p>sd.tgm@sedragroup.net</p>
        </div>
      </div>
    </div>

    <!-- <div class="">
    <div class="row example-form mt-3 gy-2">
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Your Name" formControlName="name" required>
          <mat-error *ngIf="myForm.get('name')?.errors">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Date Of Birth</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="DateOfBirth">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Phone number</mat-label>
          <input matInput type="number" formControlName="PhoneNumber" required>
          <mat-hint>Include area code</mat-hint>
          <mat-error *ngIf="myForm.get('PhoneNumber')?.errors">{{getErrorMessagePhoneNumber()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div> -->


  <div class="my-5">
    <h3 class="mb-0">Connect with us</h3>
    <div class=" links">
      <a href="https://web.facebook.com/sedraegypt/?locale=ar_AR&_rdc=1&_rdr" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.instagram.com/sedra_eg/?hl=ar" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="https://www.linkedin.com/company/sedra-eg/mycompany/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="mapouter rounded-4 overflow-hidden mx-auto">
      <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
          src="https://maps.google.com/maps?q=sedra ard&t=k&z=18&ie=UTF8&iwloc=&output=embed" frameborder="0"
          scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2yu.co">2yu</a><br>
      <a href="https://embedgooglemap.2yu.co">html embed google map</a>

      </div>
    </div>
  </div>



</div>



</div>

<app-footer></app-footer>
