
<div class="main" id="main">
  <div class="main-box rounded-5 shadow-lg bg-black bg-opacity-50 p-5">
    <h1 class="text-uppercase mb-5">Sedra</h1>
    <p class="fs-3 text-uppercase text-white">Meison De Qualite</p>
  </div>
  <owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide id="1">
      <div class="bg-black ">

        <img src="../../assets/cho.jpg" class="w-100 imgSlider">
      </div>
    </ng-template>
    <ng-template carouselSlide id="2">
      <img src="../../assets/336313757_235982958943437_4475206130047015328_n.jpg" class="w-100">
    </ng-template>
    <ng-template carouselSlide id="3">
      <img src="../../assets/277354576_1643981229292014_3541488204232541790_n.jpg" class="w-100">
    </ng-template>
  </owl-carousel-o>

</div>


<div class="about w-100" id="about">
  <div class="container">

  </div>

</div>
