:root{
  --main-color : #157432;
}
body{
  overflow: hidden;
}
.main{

  width: 100%;
  height: 100vh;
  position: relative;

  overflow: hidden;
}
.main::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000075;
}
.main-box{
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate( -50% ,-50% );
}
.main-box h1{
  color: white;
  font-family: 'Bodoni Moda', serif;
  font-weight: 500;
  font-size: 72px;
}
.main-box p{
  font-family: 'Bodoni Moda', serif;
}

.about{
  height: 100vh;
  width: 100%;
}

.imgSlider{
  aspect-ratio: calc(16 / 9) ;
}

