

<app-loading *ngIf="loading"></app-loading>

<app-navbar *ngIf="!loading"></app-navbar>

<div class="home" *ngIf="!loading">
  <div class="main" id="main">
    <div class="main-box rounded-5 shadow bg-black bg-opacity-50 p-5">
      <h1 class="text-uppercase mb-5">Sedra</h1>
      <p class="text-uppercase">Meison De Qualite</p>
    </div>
    <owl-carousel-o [options]="customOptions" >
      <ng-template carouselSlide id="1">
        <div class="imgSlider" style="background-image: url(assets/cho.jpg);"></div>
      </ng-template>
      <ng-template carouselSlide id="2">
        <div class="imgSlider" style="background-image: url(assets/slide3.jpg);"></div>
      </ng-template>
      <ng-template carouselSlide id="3">
        <div class="imgSlider" style="background-image: url(assets/slide2.jpg);"></div>
      </ng-template>

    </owl-carousel-o>
    <div class="layer"></div>
  </div>


  <div class="BEST-SELLER" id="BEST-SELLER">
    <div class="container mb-5">
      <div class="row">
        <div class="col-12">
          <div class="text-center my-5">
            <h2>BEST SELLER</h2>
          </div>
        </div>
        <div class="col-12">
          <owl-carousel-o [options]="BestSellerOptions" class="">
              <ng-template carouselSlide *ngFor="let product of allProducts">
              <a [routerLink]="['/prodactDetails', product.id, product.name]">
                <div Class="card">
                  <div class="card-img">

                      <img alt="item-Sedra"  [src]="product.images['0'].image"  />


                    </div>
                    <div class="card-body px-0 ps-3">
                      <h3>{{product.name}}</h3>
                      <p class="text-muted">{{product.price}} EG</p>
                    </div>
                    <div class="card-footer">
                      <p class="d-block mt-1">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
                    </div>
                  </div>
                </a>
              </ng-template>

            <!-- Skeleton Loader -->
<!--
            <ng-template #elseTemplate>
              <ng-template carouselSlide *ngFor="let product of  generateFake(5)">
                  <div Class="card">
                    <div class="">
                      <ngx-skeleton-loader [theme]="{ height: '150px', width:'100%'}"></ngx-skeleton-loader>
                    </div>
                      <div class="card-body px-0 ps-3">
                        <ngx-skeleton-loader [theme]="{ width: '90%', height: '10px'}"></ngx-skeleton-loader>
                        <ngx-skeleton-loader [theme]="{ width: '50px', height: '10px'}"></ngx-skeleton-loader>
                      </div>
                      <div class="card-footer">
                        <p class="d-block mt-1">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
                      </div>
                    </div>
                </ng-template>

              </ng-template> -->

          </owl-carousel-o>
        </div>

      </div>
    </div>
  </div>


  <div class="categories" id="categories">
    <div class="row">
      <div class="col-12">
        <div class="text-center my-5">
          <h2 class="text-uppercase">Our Categories</h2>
        </div>
      </div>
      <div class=".col-12">
        <owl-carousel-o [options]="categoriesOptions">
          <ng-template carouselSlide *ngFor="let category of Categories">
            <a [routerLink]="['/category', category.id, category.name]">
              <div class="imgSliderCategories" priority [style]="'background-image: url('+category.postarPath+');'"></div>
              <div class="layerCategories">
                <p>{{category.name}}</p>
              </div>
            </a>
          </ng-template>
        </owl-carousel-o>

      </div>
    </div>
  </div>


  <!-- <div class="mid-img" id="mid-img"></div> -->

  <!-- <img src="../../assets/ImgeBranch/480.7998098655945745_TSA_PROGRAMING_.jpg" alt="" srcset=""> -->

  <div class="product" id="product" >
    <div class="container mb-5">
      <div class="row">
        <div class="col-12">
          <div class="text-center my-5">
            <h2 class="text-uppercase">Our Product</h2>
          </div>
        </div>
        <!-- <div class="col-12">
          <div class="">
            <ul>
              <li></li>
            </ul>
          </div>
        </div> -->
        <div class="col-12">
          <owl-carousel-o [options]="productOptions">
            <ng-template carouselSlide *ngFor="let product of allProducts">
              <a [routerLink]="['/prodactDetails', product.id, product.name]">
                <div Class="card">
                  <div class="">
                    <img alt="Card" [src]="product.images['0'].image" />
                  </div>
                  <div class="card-body px-0 ps-3">
                    <h3>{{product.name}}</h3>
                    <p class="text-muted">{{product.price}} EG</p>
                  </div>
                  <div class="card-footer">
                    <p class="d-block ">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
                  </div>
                </div>
              </a>
            </ng-template>
          </owl-carousel-o>
        </div>

      </div>
    </div>
  </div>


  <div class="Branches" id="Branches">
    <div class="pb-5 mb-5 overflow-hidden">
      <div class="row">
        <div class="col-12">
          <div class="text-center my-5">
            <h2 class="text-uppercase">Our Branches</h2>
          </div>
        </div>
        <div class="col-12">
          <owl-carousel-o [options]="BranchesOptions">
            <ng-template carouselSlide class="position-relative p-0" *ngFor="let Branch of Branches">
              <a [routerLink]="['/branch', Branch.id, Branch.name]">
                <owl-carousel-o [options]="slideBranch">
                  <ng-template carouselSlide *ngFor="let slide of Branch.branchImages">
                    <div class="imgSliderBranch" [style]="'background-image: url('+ slide.image +');'"></div>
                  </ng-template>
                </owl-carousel-o>
                <div class="layerBranch">
                  <p id="branchName">{{Branch.name}}</p>
                </div>
              </a>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer *ngIf="!loading"></app-footer>
