
<app-loading *ngIf="loading"></app-loading>

<app-navbar *ngIf="!loading"></app-navbar>


<div class="productDetails"  *ngIf="!loading">
  <div class="backGroundImg" style="background-image: url(../../assets/1.jpg);"></div>
  <div class="container mt-4">


    <div class="row gy-4 mb-5">
      <div class="col-12">
        <p-breadcrumb class="max-w-full" styleClass="border-0 border-bottom" [model]="items" [home]="home"></p-breadcrumb>
      </div>
      <div class="col-md-5">


      <div class="rounded-3 shadow-xl overflow-hidden">


        <owl-carousel-o [options]="slider">
          <ng-template carouselSlide *ngFor="let img of currentProduct.images" >
            <div class="imgSlider"[style]="'background-image: url('+img.image+');'" ></div>
          </ng-template>

        </owl-carousel-o>
      </div>


      </div>
      <div class="col-md-6 offset-md-1 mb-5">
        <div class="productInfo">
          <h2>{{currentProduct.name}}</h2>
          <p class="price">{{currentProduct.price}} EG</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet pariatur laboriosam delectus iste harum repudiandae!</p>
        </div>
      </div>
    </div>
    <hr>

    <div class="smeller-items" id="smeller-items">
      <div class="container mb-5">
        <div class="row">
          <div class="col-12">
            <div class="text-center my-5">
              <h2 class="text-uppercase">Smaller Products</h2>
            </div>
          </div>
          <div class="col-12">
            <owl-carousel-o [options]="BestSellerOptions" class="">
              <ng-template carouselSlide *ngFor="let product of allCategories">
                <a [routerLink]="['/prodactDetails', product.id, product.name]">
                  <div Class="card">
                    <div class="">
                      <img alt="Card" [src]="product.images['0'].image" />
                    </div>
                    <div class="card-body">
                      <h3>{{product.name}}</h3>
                      <p class="text-muted">{{product.price}} EG</p>
                    </div>
                    <div class="card-footer">
                      <p class="d-block mt-1">View Details <i class="fa-solid fa-arrow-right-long"></i></p>
                    </div>
                  </div>
                </a>
              </ng-template>

            </owl-carousel-o>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>

<app-footer *ngIf="!loading"></app-footer>
