hr{
  border: 1px solid #157432;
}
.imgBox{
  width: 100%;
  max-height: 450px;
}
.productInfo{
  position: relative;
}
.productInfo::after{
  content: '';
  position: absolute;
  top: 0;
  left: -15px;
  width: 3px;
  height: 100%;
  border-radius: 15px;
  background-color: #157432;
}
.productInfo h2{
  font-size: 34px;
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
}
.imgSlider{
  background-position: center center;
  background-size: cover;
  height: 500px;
  transition: 0.5s;
}
.shadow-xl{
  box-shadow: 0 2px 10px rgba(0,0,0,0.18), 0 2px 10px rgba(0,0,0,0.15);
  margin-bottom: 10px;
}
.backGroundImg{
  background-size: cover;
  height: 33vh;
  background: #000;
  background-size: cover;
  background-position-x:center;
  background-position-y:0%;

  width: 100%;
  position: relative;

}
.backGroundImg div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.backGroundImg h2{
  font-size: 72px;
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  color: white;
  position: absolute;
  z-index: 9;
}
.backGroundImg::after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #00000070;
}

a{
  text-decoration: none;
}

.smeller-items{
  width: 100%;
}
.smeller-items h2{
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  margin: 35px 0px 25px;
  font-size: 32px;
}
.card{
  border: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 2px;
  transition: 0.3s;
  margin-bottom: 15px;
}
.card:hover {
  margin-top: 0px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.18), 0 5px 5px rgba(0,0,0,0.15);
}
.card-body h3{
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 5px;
  color: #000;
}
.card-footer{
  background-color: white;
  display: flex;
  align-items: center;
}
.card-footer p{
  transition: 0.3s;
  color: #157432;
}
.card:hover .card-footer p{
  margin-left: 5px;
}
.product .card-body h3{
  font-weight: 600;
  font-size: 20px;
}
.productInfo .price{
  font-size: 18px;

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .backGroundImg{
    height: 25vh;
  }
  .imgSlider{
    background-position: center center;
    background-size: cover;
    height: 350px;
  }
  .smeller-items h2{
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    margin: 15px 0px 10px;
    font-size: 24px;
  }
  .card-footer p{
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .card-body{
    padding: 10px 0px 10px 15px;
  }
  .card-body p{
    margin-bottom: 0px;

  }
  .card-body h3{
    font-size: 14px;
  }
  .productInfo h2{
    text-align: center;
  }
  .productInfo p{
    text-align: center;

  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
